
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserInManager
@model PaginatedList<object>
@{
    ViewData["Title"] = "HomePage | Universo Games";
}

<br />
<br />
<!-- Page content-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://www.telefilm-central.org/wp-content/uploads/2019/05/cleganebowl-game-of-thrones-1.jpg" alt="..." /></a>
                <div class="card-body">
                    <div id="datecolor">@DateTime.Now.ToString("yyy-MM-dd")</div>
                    <h2 class="card-title">In this section yo can create a new content for our news section. Feel free to be not politically correct</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Create" asp-controller="News" class="btn btn-primary w-100">Create a New Article</a>
                    }
                </div>
            </div>
            <div class="row">
                <!--<div class="col-md-8">
                   <form asp-action="Index" method="get" class="mb-3">
                       <div class="search">
                           <i class="fa fa-search"></i>
                           <input type="text" name="SearchedString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Have a question? Ask Now">
                           <input type="submit" value="Search" class="btn btn-primary searchBarButton" />
                       </div>
                   </form>
                   <!-- <form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" value="@*ViewData["CurrentFilter"]*@" placeholder="Search" aria-label="Search">
        <input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0" />
    </form>ì
                <a asp-action="Index" class="text-light">Back to Full List</a>
            </div>-->
                <!-- Blog entries-->
                
                @if (Model.Count == 0)
                {
                    <div id="noTrovato">
                        NESSUN RISULTATO TROVATO
                        <br><br>
                    </div>
                }

                @foreach (var n in Model)
                {

                    @if (n is News news)
                    {
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a><img class="card-img-top" src="~/NewsUploads/@news.Image" alt="..." height="250" width="700" /></a>
                            <div class="card-body">
                                <div class="small" id="datecolor" >Published on: @news.Date.ToString("yyyy-MM-dd")</div>
                                <h2 class="card-title h4">@news.Title</h2>
                                <a>Category: @news.Category</a>
                                <p class="card-text" id="contnews">@news.Content</p>
                                <div class="row">
                                    <div class="col-6">
                                        <a class="btn btn-primary" asp-action="Details" asp-controller="News" asp-route-id="@news.Id">Read More</a>
                                    </div>
                                    @if ((DateTime.Now - @news.Date).Days < 2)
                                    {
                                        <div class="col-6 text-right">
                                            <h4 class="text-danger font-weight-bold">HOT<i class="fab fa-hotjar" style="color: red"></i></h4>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    else if (n is Review review)
                    {
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a><img class="card-img-top" src="~/ReviewsUploads/@review.CoverImage" alt="..." height="250" width="700" /></a>
                            <div class="card-body">
                                <div class="small" id="datecolor">Published on: @review.Date.ToString("yyyy-MM-dd")</div>
                                <div class="row">
                                    <div class="col-8">
                                        <h2 class="card-title h4" id="contnews">@review.Title</h2>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a>Score: @review.Score  <i class="fas fa-star text-warning"></i></a>
                                    </div>
                                </div>
                                <a>Category: @review.Category</a>
                                <p class="card-text" id="contnews">@review.Content</p>
                                <div class="row">
                                    <div class="col-6">
                                        <a class="btn btn-primary" asp-action="Details" asp-controller="Reviews" asp-route-id="@review.Id">Read More</a>
                                    </div>
                                    @if ((DateTime.Now - review.Date).Days < 2)
                                    {
                                        <div class="col-6 text-right">
                                            <h4 class="text-danger font-weight-bold">HOT<i class="fab fa-hotjar" style="color: red"></i></h4>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                }
            </div>
        </div>
        <div class="col-12 text-center">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-searchedString="@ViewData["CurrentFilter"]"
               class="btn btn-outline-light w-25 @prevDisabled">
                Previous
            </a>
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-searchedString="@ViewData["CurrentFilter"]"
               class="btn btn-outline-light w-25 @nextDisabled">
                Next
            </a>
        </div>

    </div>
</div>